target/
build/
build
out/
backup/
import
.gradle
publish
static

*.war
*.ear
*.class
*.log

# eclipse
.settings/
.project
.metadata
.classpath
.externalToolBuilders

# idea
.idea/
.idea
*.iml
*.iws
*.ipr

logs/
