<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="org.qamock.domain.User" />
        <mapping class="org.qamock.domain.DynamicResource" />
        <mapping class="org.qamock.domain.Content" />
        <mapping class="org.qamock.domain.DynamicResourceMethod" />
        <mapping class="org.qamock.domain.DynamicResponse" />
        <mapping class="org.qamock.domain.Header" />
        <mapping class="org.qamock.domain.Script" />
    </session-factory>
</hibernate-configuration>