<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <div>
        <button th:text="#{button.back}" th:onclick="'loadResourcesView()'"></button>
        <button th:text="#{button.edit}" th:onclick="'openScriptEdit(' + ${script.id} + ')'"></button>
    </div>

    <div class="ttl">
        <span th:text="#{script.label.title}"></span><span th:text="${script.id}"></span>:
    </div>

    <div>
        <span th:text="#{script.label.name}"></span><span th:text="${script.name}"></span>
    </div>

    <div>
        <span th:text="#{script.label.script.text}"></span>
        <div>
            <pre>
                <code th:text="${script.text}"></code>
            </pre>
        </div>
    </div>
</div>