body{
    background: #333333;
    margin: 0px;
    padding: 0px;
}

div{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
input{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-radius: 8px;
}
textarea{
    width: 90%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-radius: 8px;
}
button{
    border-radius: 8px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

button:hover{
    cursor: pointer;
}

select{
    border-radius: 8px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.center_b {
    position: absolute;
    left: 150px;
    right: 150px;
    bottom: 0px;
    top: 0px;
    min-height: 600px;
    min-width: 800px;
    font-size: 10pt;
}
.top_b {
    position: relative;
    width: 100%;
    height: 80px;
    background: url(/resources/line.png) no-repeat, #ffffff;
}
.logo_b {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 35px;
    font-family: Impact, Charcoal, sans-serif;
    margin: 2px;
    padding: 2px;
}
.content_b {
    position: relative;
    background: #f2f2f2;
    width: 100%;
    height: 100%;
}
.bottom_b {
    position: relative;
    width: 100%;
    height: 20px;
    background: #ffffff;
}
.bottom_b > div {
    font-size: 8px;
    padding: 4px;
    position: absolute;
    right: 10px;
    top: 0px;
}
.auth_b{
    background: #595959;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 35%;
    height: 130px;
    width: 230px;
    color: white !important;
}
.signin_b{
    position: relative;
    top: 20px;
    padding: 2px;
    margin: 5px;
}
.signin_b > input{
    position: absolute;
    right: 14px;
}

.shadow{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
}

.auth_m{
    position:relative;
    top: -20px;
    font-size: 8pt;
    padding: 4px;
    width: 100%;
}
.auth_m > div > span:nth-child(2){
    font-weight: bold;
}
.auth_m > form:nth-child(2){
    position: absolute;
    top: 2px;
    right: 20px;
}

.m_menu{
    position: relative;
    top: -20px;
}

.m_item{
    position: relative;
    float: left;
    height: 30px;
    width: 60px;
    border: 2px solid black;
    font-size: 8pt;
}

.m_item:hover{
    background: white;
    cursor: pointer;
}

.m_sub_list{
    position: absolute;
    top: 30px;
    float: left;
    width: 52px;
    border: 1px solid black;
    padding: 4px;
    z-index: 100;
    background: white;
    font-size: 8pt;
}

.m_sub_list>div:hover{
    cursor: pointer;
    background: grey;
}

.view_b{
    position: absolute;
    padding: 4px;
    border: 1px solid black;
    top: 50px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.view_b > div > div{
    margin: 5px 0px;
}

.tbl{
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    width: 99%;
}

.t_header > th{
    font-size: 10pt;
    font-weight: bold;
    padding: 2px;
}
.t_row > td{
    font-size: 8pt;
    font-weight: normal;
}

tr.t_row:nth-child(even){
    background: white;
}

tr.t_row:hover{
    background: grey !important;
    cursor: pointer;
}

.ttl{
    font-size: 12pt;
    font-weight: bold;
}

.tg{
    border-radius: 8px;
    background: #b3ffb3;
    padding: 4px;
    font-weight: bold;
}

.sub_ttl{
    font-weight: bold;
}

#methods_selector{
    padding: 10px 0px;
}

#strategy_selector > div{
    margin: 16px 0px;
}

label.str{
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid black;
    padding: 4px;
}

label.str:hover{
    background: white;
    font-weight: bold;
}

input.cbx:checked ~ div{
    display:block;
}

input.cbx:checked ~ .str{
    background: white;
    font-weight: bold;
}

.cbx{
  display:none;
}

.tgl{
  cursor: pointer;
  border: 1px solid green;
  border-radius: 8px;
  padding: 2px;
}

input.cbx:checked ~ .tgl{
  background: green;
}

.spn_btn{
    cursor: pointer;
    border: 2px outset black;
    border-radius: 8px;
    padding: 2px 10px;
}

.spn_btn:hover{
    font-weight: bold;
}

.lg_fltr{
    float: right;
    border: 1px solid;
    padding: 5px;
    background: white;
}

.lg_fltr_b{
    margin: 20px 0px 0px 0px;
}

.lg_itm{
    border: 1px solid;
    padding: 5px;
    margin: 5px;
}

.lg_ts{
    font-size: 8pt;
    font-weight: bold;
}

.lg_hdrs{
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}

.lg_cntnt{
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}