body{
    background: #333333;
    margin: 0px;
    padding: 0px;
}

div{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
input{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-radius: 8px;
}
textarea{
    width: 90%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-radius: 8px;
}
button{
    border-radius: 8px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
select{
    border-radius: 8px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.center_b {
    position: absolute;
    left: 150px;
    right: 150px;
    bottom: 0px;
    top: 0px;
    min-height: 600px;
    min-width: 800px;
    font-size: 12pt;
}
.top_b {
    position: relative;
    width: 100%;
    height: 80px;
    background: url(/resources/line.png) no-repeat, #ffffff;
}
.logo_b {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 35px;
    font-family: Impact, Charcoal, sans-serif;
    margin: 2px;
    padding: 2px;
}
.content_b {
    position: relative;
    background: #f2f2f2;
    width: 100%;
    height: 100%;
}
.bottom_b {
    position: relative;
    width: 100%;
    height: 20px;
    background: #ffffff;
}
.bottom_b > div {
    font-size: 8px;
    padding: 4px;
    position: absolute;
    right: 10px;
    top: 0px;
}
.auth_b{
    background: #595959;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 35%;
    height: 130px;
    width: 230px;
    color: white !important;
}
.signin_b{
    position: relative;
    top: 20px;
    padding: 2px;
    margin: 5px;
}
.signin_b > input{
    position: absolute;
    right: 14px;
}

.shadow{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
}

.auth_m{
    position:relative;
    top: -20px;
    font-size: 8pt;
    padding: 4px;
    width: 100%;
}
.auth_m > div > span:nth-child(2){
    font-weight: bold;
}
.auth_m > form:nth-child(2){
    position: absolute;
    top: 2px;
    right: 20px;
}

.m_menu{
    position: relative;
    top: -20px;
}

.m_item{
    position: relative;
    float: left;
    height: 30px;
    width: 60px;
    border: 2px solid black;
    font-size: 8pt;
}

.m_item:hover{
    background: white;
}

.m_sub_list{
    position: absolute;
    top: 30px;
    float: left;
    width: 52px;
    border: 1px solid black;
    padding: 4px;
    z-index: 100;
    background: white;
}

.view_b{
    position: absolute;
    border: 1px solid black;
    top: 50px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.tbl{
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    width: 99%;
}

.t_header > th{
    font-size: 10pt;
    font-weight: bold;
    padding: 2px;
}
.t_row > th{
    font-size: 8pt;
    font-weight: normal;
}

tr.t_row:nth-child(even){
    background: white;
}

tr.t_row:hover{
    background: grey !important;
}




.t_resp{
    position:relative;
    top: 25px;
}
.t_resp_item{
    position: relative;
    border: 1px solid grey;
    padding: 4px;
}
.t_resp_item_name{
    font-size: 10pt;
}
.t_resp_item_name > span{
    font-weight: bold;
}
.t_resp_item_code{
    font-size: 10pt;
}
.t_resp_item_headers{
    font-size: 10pt;
}
.input_field{
    position: relative;
    top: 10px;
    margin: 5px;
    padding: 2px;
}
.input_field > div{
    font-size: 10pt;
    position: absolute;
    left: 20px;
}
.input_field > input{
    position: relative;
    top: 0px;
    left: 100px;
}

.menu{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 40px;
    border: 1px solid black;
}

div.menu_item{
    border: 1px solid black;
    float: left;
    width: 60px;
    height: 40px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
}

div.menu_item > a{
    text-decoration: none;
    text-transform: uppercase;
}

.tool_bar{
    padding: 5px;
}
.list_item > div + div{
    font-size: 10pt;
    position: relative;
    top: 5px;
}
.sub_list{
    padding: 5px;
}
.cont_view{
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    padding: 20px;
    height: 100%;
}
#menu{
    margin: 5px;
}



.cont_table{
    border-radius: 4px;
    border-color: grey;
    border-style: solid;
}
.cont_table td{
    border-radius: 4px;
    border-color: grey;
    border-style: solid;
    font-size: 10pt;
}
li > a:link{
    color: black;
    background: white;
}
li > a:hover{
    background: black;
    color: white;
}
li > a:active{
    background: black;
    color: white;
}
li > a:visited {
    color: black;
    background: white;
}
.select_one > div + div{
    font-size: 10pt;
}
.res_view > div{
    padding: 6px;
}
div#strategy_impl{
    font-size: 10pt;
}
div#title > div{
    position: relative;
    top: 1px;
}
div#title > div.desc{
    font-size: 8pt;
}
div#title > div > div#method{
    font-weight: bold;
    float: left;
}
div#path{
    position: relative;
    left: 5px;
}
.j_mes_params{
    position: relative;
    top: 30px;
}
.j_mes_title{
    position: relative;
    top: 15px;
}
#j_mes_logs{
    position: relative;
    top: 30px;
}
.j_res_ok{
    color: green;
}
.j_res_fail{
    color: red;
}

#script_view{
    font-size: 10pt;
}

div.script_varlist{
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.script_varlist > span{
font-weight: bold;
}