<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <h2 th:text="#{accounts.label}"></h2>
    <div>
        <button onclick="openOpenCreateAccount()" th:text="#{button.create}"></button>
    </div>
    <table class="tbl">
        <tr class="t_header">
            <th>#</th>
            <th th:text="#{account.name.label}"></th>
            <th th:text="#{account.role.label}"></th>
        </tr>
        <tr th:onclick="'openAccount(' + ${map['account'].id} + ')'" class="t_row" th:each="map : ${accounts}">
            <td th:text="${map['account'].id}"></td>
            <td th:text="${map['account'].username}"></td>
            <td>
                <div th:each="role : ${map['roles']}">
                    <span th:text="${role.role}"></span>
                </div>
            </td>
        </tr>
    </table>
</div>