<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/highlight/styles/default.css"/>
    <script src="/static/js/jquery-3.1.1.js"></script>
    <script src="/static/js/dyn.js"></script>
    <script src="/static/highlight/highlight.pack.js"></script>
    <title th:text="#{admin.title}"></title>
</head>
<body>
<div class="center_b">
    <div class="top_b">
        <span class="logo_b">Mock Service</span>
    </div>
    <div class="content_b">
        <div class="auth_m">
            <div><span th:text="#{admin.auth.label}"></span> <span th:text="${#httpServletRequest.remoteUser}"></span></div>
            <form th:action="@{/logout}" method="post"><input type="submit" th:value="#{admin.auth.logout}"/></form>
            <!--<div><a th:href="@{/logout}" th:inline="text">[[#{admin.auth.logout}]]</a></div>-->
        </div>
        <div class="m_menu">
            <div class="m_item" onmouseover="menuInHandler(this)" onmouseout="menuOutHandler(this)">
                <span>Admin</span>
                <div class="m_sub_list" hidden="hidden">
                    <div onclick="loadAccounts()">Users</div>
                </div>
            </div>
        </div>
        <div class="m_menu">
            <div class="m_item" onmouseover="menuInHandler(this)" onmouseout="menuOutHandler(this)">
                <span>Tools</span>
                <div class="m_sub_list" hidden="hidden">
                    <div onclick="loadJMSView()">JMS Sender</div>
                </div>
            </div>
        </div>
        <div class="m_menu">
            <div class="m_item" onmouseover="menuInHandler(this)" onmouseout="menuOutHandler(this)">
                <span>Mock</span>
                <div class="m_sub_list" hidden="hidden">
                    <div onclick="loadResourcesView()">Resources</div>
                    <div onclick="loadScriptsView()">Scripts</div>
                    <div onclick="loadLogsView()">Logs</div>
                </div>
            </div>
        </div>
        <div id="admin_view" class="view_b">View</div>
    </div>
    <div class="bottom_b">
        <div>version - <span th:text="#{main.version}"></span></div>
    </div>
</div>
</body>
</html>