<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title th:text="#{login.title}"></title>
</head>
<body>
<div class="center_b">
    <div class="top_b">
        <span class="logo_b">Mock Service</span>
    </div>
    <div class="content_b">
        <div class="auth_b shadow">
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <form th:action="@{/login}" method="post">
                <div><label> User Name : <input type="text" name="username"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
                <div class="signin_b"><input type="submit" th:value="#{button.signin}"/></div>
            </form>
        </div>
    </div>
    <div class="bottom_b">
        <div>version - <span th:text="#{main.version}"></span></div>
    </div>
</div>
</body>
</html>