<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <div>
        <button th:text="#{button.back}" th:onclick="'openResource(' + ${resource.id} + ')'"></button>
        <button th:onclick="'updateResource(' + ${resource.id} + ')'" th:text="#{button.save}"></button>
        <button th:onclick="'deleteResource(' + ${resource.id} + ')'" th:text="#{button.delete}"></button>
    </div>

    <form action="#" th:action="@{/admin}" id="update_resource" th:object="${resource}" method="post">
        <div class="ttl">
            <span th:text="#{resource.edit.title}"></span>
        </div>

        <div>
            <span th:text="#{resource.create.method}"></span>
            <div id="methods_selector">
                <span>
                    <input th:field="*{methods}" class="cbx" type="checkbox" id="get" name="method" value="GET"/>
                    <label for="get" class="tgl" >GET</label>
                </span>
                <span>
                    <input th:field="*{methods}" class="cbx" type="checkbox" id="post" name="method" value="POST"/>
                    <label for="post" class="tgl" >POST</label>
                </span>
                <span>
                    <input th:field="*{methods}" class="cbx" type="checkbox" id="put" name="method" value="PUT"/>
                    <label for="put" class="tgl" >PUT</label>
                </span>
                <span>
                    <input th:field="*{methods}" class="cbx" type="checkbox" id="delete" name="method" value="DELETE"/>
                    <label for="delete" class="tgl" >DELETE</label>
                </span>
                <span>
                    <input th:field="*{methods}" class="cbx" type="checkbox" id="head" name="method" value="HEAD"/>
                    <label for="head" class="tgl" >HEAD</label>
                </span>
                <span>
                    <input th:field="*{methods}" class="cbx" type="checkbox" id="option" name="method" value="OPTIONS"/>
                    <label for="option" class="tgl" >OPTIONS</label>
                </span>
                <span>
                    <input th:field="*{methods}" class="cbx" type="checkbox" id="trace" name="method" value="TRACE"/>
                    <label for="trace" class="tgl" >TRACE</label>
                </span>
                <span>
                    <input th:field="*{methods}" class="cbx" type="checkbox" id="patch" name="method" value="PATCH"/>
                    <label for="patch" class="tgl" >PATCH</label>
                </span>
            </div>
        </div>

        <div>
            <span th:text="#{resource.create.url}"></span><input th:field="*{path}" type="text" name="path" id="path" />
        </div>

        <div>
            <span th:text="#{resource.disable.logging}"></span>
            <label for="logOn">On</label>
            <input id="logOn" th:field="*{logging}" type="radio" name="logging" value="0" checked="checked" />
            <label for="logOff">Off</label>
            <input id="logOff" th:field="*{logging}" type="radio" name="logging" value="1" />
        </div>

        <div>
            <span th:text="#{resource.create.strategy}"></span>
            <div id="strategy_selector">
                <div>
                    <input id="s0" class="cbx" th:field="*{strategy}" type="radio" name="strategy" value="0" checked="checked"/>
                    <label th:text="#{resources.strategy.sequence}" class="str" for="s0"></label>
                    <div hidden="hidden">
                    </div>
                </div>
                <div>
                    <input id="s1" class="cbx" th:field="*{strategy}" type="radio" name="strategy" value="1"/>
                    <label th:text="#{resources.strategy.random}" for="s1" class="str"></label>
                    <div hidden="hidden">
                    </div>
                </div>
                <div>
                    <input id="s2" class="cbx" th:field="*{strategy}" type="radio" name="strategy" value="2"/>
                    <label th:text="#{resources.strategy.script}" for="s2" class="str"></label>
                    <div hidden="hidden">
                        <span th:text="#{resource.create.script}"></span>
                        <div>
                            <div>You can use objects: request, params, utils</div>
                            <div>request has method(), path(), query(), headers(), content(), jobject(), jarray()</div>
                        </div>
                        <div>
                            <textarea name="script" th:field="*{script}" id="script"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <label th:text="#{resource.response.default}"></label>
            <select name="default_resp">
                <option th:field="*{default_resp}" th:each="resp : ${responses}" th:value="${resp.id}" th:text="${resp.code} + ' ' + ${resp.name}"></option>
            </select>
        </div>
    </form>
</div>