<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <div>
        <button th:onclick="'openResponseEdit(' + ${resource_id} + ',' + ${id} + ')'" th:text="#{button.edit}"></button>
    </div>

    <div class="ttl">
        <span th:text="#{response.title}"></span>
        <span th:text="${id}"></span>
    </div>

    <div>
        <label th:text="#{response.name.label}"></label>
        <span th:text="${name}"></span>
    </div>

    <div>
        <label th:text="#{response.code.label}"></label>
        <span th:text="${code}"></span>
    </div>

    <div>
        <span th:text="#{response.headers.label}"></span>
        <div>
            <table>
                <tbody id="hdr_tbl">
                <tr th:each="hdr : ${headers}">
                    <td>
                        <span th:text="${hdr.name}"></span>
                        <span>:</span>
                        <span th:text="${hdr.value}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <label th:text="#{response.content.label}"></label>
        <div>
            <pre>
                <code th:text="${content}">
                </code>
            </pre>
        </div>
    </div>

    <div>
        <label th:text="#{response.script.label}"></label>
        <div>
            <pre>
                <code th:text="${script}">
                </code>
            </pre>
        </div>
    </div>
</div>