<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <div>
        <button th:onclick="'createResponse(' + ${response.resource_id} + ')'" th:text="#{button.save}">save</button>
    </div>

    <form action="#" th:action="@{/admin}" id="add_response" th:object="${response}" method="post">
        <div class="ttl">
            <span th:text="#{response.create.title}"></span>
        </div>

        <div>
            <label th:text="#{response.name.label}" for="name"></label>
            <input th:field="*{name}" type="text" id="name" name="name" />
        </div>

        <div>
            <label th:text="#{response.code.label}" for="code"></label>
            <input th:field="*{code}" type="number" id="code" name="code" />
        </div>

        <div>
            <span th:text="#{response.headers.label}"></span>
            <div>
                <span class="spn_btn" onclick="addHdr()">+</span>
                <table>
                    <tbody id="hdr_tbl">
                    <tr>
                        <td>
                            <input th:field="*{headers}" type="text" name="headers" id="headers" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <label th:text="#{response.content.label}" for="content"></label>
            <div>
                <textarea th:field="*{content}" id="content" name="content"></textarea>
            </div>
        </div>

        <div>
            <label th:text="#{response.script.label}" for="script"></label>
            <div>
                <textarea th:field="*{script}" id="script" name="script"></textarea>
            </div>
        </div>
    </form>
</div>