<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <h2 th:text="#{script.list.label}"></h2>
    <div>
        <button onclick="openCreateScript()" th:text="#{button.create}"></button>
    </div>
    <table class="tbl">
        <tr class="t_header">
            <th th:text="#{script.label.id}"></th>
            <th th:text="#{script.label}"></th>
        </tr>
        <tr th:onclick="'openScript(' + ${script.id} + ')'" class="t_row" th:each="script : ${scriptList}">
            <td th:text="${script.id}"></td>
            <td th:text="${script.name}"></td>
        </tr>
    </table>
</div>